* {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 215px 1fr 1fr;
}

header {
  display: grid;
  grid-template-columns: 1fr 800px 1fr 1fr 1fr;
  height: 100px;
  width: 100%;
}

.main-content {
  grid-column: 2 / span 2;
}

.hamburger-menu, .search-bar,
.add-friend, .calendar, .squares{
  border-right: 1px solid #e5e5e8;
  border-bottom: 1px solid #e5e5e8;
}

.hamburger-menu {
  display: flex;
  grid-column: 1 / span 1;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  padding-left: 2em;
  justify-content: flex-start;
  align-items: center;
  grid-column: 2 / span 1;
}

.search {
  color: #cfcfd1;
  padding-left: 1em;
  font-size: 1.5em;
}

.add-friend:hover, .calendar:hover, .squares:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2em;
  background-color: #00bfff;
}

.add-friend:hover {
  background-image: url("images/add-user.svg");
}

.calendar:hover {
  background-image: url("images/small-calendar-white.svg");
}

.squares:hover {
  background-image: url("images/menu-white.svg");
}

.add-friend, .calendar, .squares {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2em;
  background-color: #ffffff;
}

/*.hamburger-menu:hover, .hamburger:hover, .blue-arrow:hover {
  display: none;
}
*/
.add-friend {
    background-image: url("images/add-user-grey.svg");
}

.calendar {
  grid-column: 4 / span 1;
  background-image: url("images/small-calendar.svg");
}

.squares {
  grid-column: 5 / span 1;
  background-image: url("images/menu (1).svg");
}

.blue-arrow{
  margin-right: .2em;
  height: .7em;
}

.hamburger {
  height: 1.7em;
  margin-right: 1em;
}

.eye-glass {
  height: 2em;
}

.location-dot {
  height: 1em;
}
.nav {
  grid-column: 1 / span 1;
  margin: 0;
  height: 100%;
  width: 215px;
  background-color: #1f2f49;
  display: grid;
}
  
.name-nav, .main-nav, 
.admin-nav, .categories-nav {
  box-sizing: border-box;
  border-bottom: 1px solid #131e30;
}

.main {
  font-size: .9em;
}

.name-nav {
  box-sizing: border-box;
}

.laura-photo {
  margin: 4em auto 0 ;
  display: block;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.title-name {
  margin: .5em;
  margin-bottom: 2em;
  font-family: 'Maven Pro', sans-serif;
  color: #ffffff;
  text-align: center;
}

.down-arrow-nav{
  position: relative;
  width: .6em;
  padding-left: .3em;
}

.main-nav, .admin-nav {
  height: 300px;
}

.main-nav {
  padding: 0;
  grid-row: 2 / span 1;
}

.admin-nav, .categories-nav {
  margin-top: 1em;
}

.categories-nav {
  height: 700px;
}

ul {
  padding: 0;
  list-style-type: none;
  color: #ffffff;
}

li {
  margin: 1.2em;
  margin-left: 1.6em;
  font-size: .9em;
  font-family: 'Maven Pro', sans-serif;
}

.home-icon, .jobs-icon,
.resumes-icon, .tasks-icon, .calendar-icon, 
.users-icon, .location-icon, .linechart-icon {
  display: inline-block;
  margin-bottom: .2em;
  padding-left: .5em;
}

.main-ul {
  margin-top: 2em;
  grid-column: 1 /span 1;
  grid-row: 2 /span 1;
}

.home-btn, .briefcase, .resume,
.resume-btn, .clipboard-btn, .calendar-btn,
.users-btn, .location-btn, .linechart-btn, 
.yellow-btn, .blue-btn, .green-btn, .pink-btn {
  position: relative;
  top: 3px;
  width: 1.5em;
}


